/**
 * Nom du module         : variables.scss
 * Description           : Définition des variables d'ajustement.
 * 
 * Auteur                : TheRake66
 * Date de création      : 2026-08-28 04:01:51
 * Dernière modification : 2026-08-28 04:01:51
 * Version               : 1.0.0
 * Licence               : GPL-3.0
 * 
 * Notes                 : 
 */

:root {
  /**
   * Autres.
   */
  --transition: all .1s linear;
  --line-space: 30px;
  --border: solid 1px;
  --scrollbar: 4px;
  
  /**
   * Espacement entre les lettres.
   */
  --letter-spacing: 2px;
  --letter-spacing-large: 4px;
  --letter-spacing-xlarge: 6px;
  --letter-spacing-title: 12px;

  /**
   * Taille de police d'écriture.
   */
  --font-xsmall: 8px;
  --font-small: 12px;
  --font: 16px;
  --font-large: 20px;
  --font-xlarge: 24px;
  --font-title: 64px;

  /**
   * Taille du rayon d'arrondissement.
   */
  --radius-xsmall: 5px;
  --radius-small: 10px;
  --radius: 15px;
  --radius-large: 20px;
  --radius-xlarge: 25px;
  --radius-round: 64px;

  /**
   * Taille des espacements internes.
   */
  --padding-xsmall: 8px;
  --padding-small: 16px;
  --padding: 32px;
  --padding-large: 64px;
  --padding-xlarge: 96px;

  /**
   * Taille des espacements externes.
   */
  --margin-xsmall: 8px;
  --margin-small: 16px;
  --margin: 32px;
  --margin-large: 64px;
  --margin-xlarge: 96px;

  /**
   * Taille des ombres.
   */
  --shadow-xsmall: 0px 0px 5px;
  --shadow-small: 0px 0px 10px;
  --shadow: 0px 0px 15px;
  --shadow-large: 0px 0px 20px;
  --shadow-xlarge: 0px 0px 25px;
}